{% extends 'SpyimmoBundle:Layouts:layout.html.twig' %}

{% block title %}SpyImmo - Offres favorites{% endblock %}

{% block content %}
    <br><br><br><h1>Offres favorites</h1>
    <div class="table-responsive">
        <table id="favoriteTable" class="table table-striped">
            <thead>
            <tr>
                <th class="hidden-xs">Image</th>
                <th style="width: 25px;"></th>
                <th>Titre</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Lieu</th>
                <th class="hidden-xs">Origine</th>
                <th class="hidden-xs">Date</th>
            </tr>
            </thead>
            {% for offer in offers %}
                <tr data-id="{{ offer.id }}" class="{% if not offer.viewed %}warning{% endif %} {% if offer.favorite %}success{% endif %} {% if offer.hidden %}danger{% endif %}">
                    <td class="hidden-xs">
                        <a class="offerLink" target="_blank" data-toggle="modal" data-target="#myModal">
                            {% if offer.pictures|length > 0 %}
                                {% set image = offer.pictures|first  %}
                                <img src="{{ image.src }}" width="120" />
                            {% else %}
                                <img src="{{ asset('bundles/spyimmo/images/default.jpg') }}" width="120" />
                            {% endif %}
                        </a>
                    </td>
                    <td style="width: 25px;">
                        {% include "SpyimmoBundle:Default:offerIndexFlag.html.twig" with {'offer': offer} %}
                    </td>
                    <td>
                        <a class="offerLink offerTitle" target="_blank" data-toggle="modal" data-target="#myModal">
                            {{ offer.title|e }}
                        </a>
                    </td>
                    <td>{% if offer.surface %} <span class="badge">{{ offer.surface|e }} m²</span>{% endif %}</td>
                    <td>{% if offer.price %} {{ offer.price|e }} €{% endif %}</td>
                    <td>{{ offer.location|e }}</td>
                    <td class="hidden-xs offerLabel">{{ offer.label|e }}</td>
                    <td class="hidden-xs offerCreated">{{ offer.created|date("Y-m-d H:i") }}</td>
                </tr>
             {% endfor %}
        </table>
    </div><br><br>
{% endblock %}

