{% extends 'SpyimmoBundle:Layouts:layout.html.twig' %}

{% block title %}SpyImmo - {{ title }}{% endblock %}

{% block content %}
    <br><br><br><h1>{{ title }}</h1>
    <div class="table-responsive">
        <table id="offerTable" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th class="hidden-xs">Image</th>
                <th>Titre</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Lieu</th>
                <th class="hidden-xs" width="135px">Action</th>
                <th class="hidden-xs">Origine</th>
                <th class="hidden-xs">
                    {% if (app.request.get('_route')) == 'indexVisit' %}
                        Visite
                    {% else %}
                        Date
                    {% endif %}
                </th>
            </tr>
            </thead>
            {% for offer in offers %}
                <tr data-id="{{ offer.id }}" class="{% if not offer.viewed %}warning{% endif %} {% if offer.favorite %}success{% endif %} {% if offer.hidden %}danger{% endif %}">
                    <td>
                        {% if not offer.viewed %}
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                        {% if offer.suspicious %}
                            <span title="Suspecte" class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                        {% if offer.contacted %}
                            <span title="{{ offer.contactedAt|date("d/m/Y H:i") }}" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                        {% if offer.note %}
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </td>
                    <td class="hidden-xs">
                        <a class="offerLink" target="_blank" data-toggle="modal" data-target="#myModal">
                            {% if offer.pictures|length > 0 %}
                                {% set image = offer.pictures|first  %}
                                <img src="{{ image.src }}" width="120" />
                            {% else %}
                                <img src="{{ asset('bundles/spyimmo/images/default.jpg') }}" width="120" />
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a class="offerLink offerTitle" target="_blank" data-toggle="modal" data-target="#myModal">
                            {{ offer.title|e }}
                        </a>
                    </td>
                    <td>{% if offer.surface %} <span class="badge">{{ offer.surface|e }} m²</span>{% endif %}</td>
                    <td>{% if offer.price %} {{ offer.price|e }} €{% endif %}</td>
                    <td>{{ offer.location|e }}</td>
                    <td class="hidden-xs">
                        {% if not offer.favorite %}
                            {% if offer.hidden %}
                                <button title="Rendre visible" data-id="{{ offer.id }}" type="button" class="btn btn-primary btn-warning unhideAction"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                            {% else %}
                                <button title="Masquer" data-id="{{ offer.id }}" type="button" class="btn btn-default btn-danger hideAction"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
                            {% endif %}
                        {% else %}
                            <button title="Enlever favori" data-id="{{ offer.id }}" type="button" class="btn btn-default btn-default unfavorite"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Enlever favori</button>
                        {% endif %}
                    </td>
                    <td class="hidden-xs offerLabel">{{ offer.label|e }}</td>
                    <td class="hidden-xs offerCreated">
                        {% if (app.request.get('_route')) == 'indexVisit' %}
                            {{ offer.visitDate|date("Y-m-d H:i") }}
                        {% else %}
                            {{ offer.created|date("Y-m-d H:i") }}
                        {% endif %}
                    </td>
                </tr>
             {% endfor %}
        </table>
    </div><br><br>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

