<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ offer.title }}</h4>
</div>
<div class="modal-body">

    {% if offer.pictures|length > 0 %}
        {% include "SpyimmoBundle:Default:offerPictures.html.twig" with {'offer': offer} %}
    {% endif %}

    <ul class="offerDetail">
        <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> : {{ offer.created|date("d/m/Y H:i") }}</li>
        {% if offer.location %}
            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> : {{ offer.location }} </li>
        {% endif %}
        {% if offer.price %}
            <li><span class="glyphicon glyphicon glyphicon-euro" aria-hidden="true"></span> : {{ offer.price }}  €</li>
        {% endif %}
        {% if offer.price %}
            <li><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> : {{ offer.surface|e }} m²</li>
        {% endif %}
        {% if offer.tel %}
            <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> : {{ offer.tel }}</li>
        {% endif %}
        <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span> : <a href="{{ offer.url }}" target="_blank">Voir l'offre sur {{ offer.label }}</a></li>

        {% if offer.visitDate %}
            <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <strong>Date visite : {{ offer.visitDate|date("d/m/Y H:i") }}</strong></li>
        {% endif %}
    </ul>
    <p>{{ offer.description }}</p>

    {% if offer.note %}
        <h4>Note:</h4>
        <blockquote><p style="font-style : italic;">{{ offer.note }}</p></blockquote>
    {% endif %}

    {% include "SpyimmoBundle:Default:offerForm.html.twig" with {'offer': offer, 'noteForm': noteForm, 'visitForm': visitForm} %}

</div>

<div class="modal-footer">
    {% if offer.favorite %}
        <button title="Enlever favori" data-id="{{ offer.id }}" type="button" class="btn btn-default btn-default unfavorite"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Enlever favori</button>
    {% else %}
        <button title="Marquer comme favori" data-id="{{ offer.id }}" type="button" class="btn btn-default btn-success favorite"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Marquer comme favori</button>
    {% endif %}

    {% if offer.favorite %}
        {% if not offer.contacted %}
            <button title="Marqué comme contacté" data-id="{{ offer.id }}" type="button" class="btn btn-primary contactedAction"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Marquer comme contacté</button>
        {% endif %}
    {% endif %}
</div>